<div class="md:flex">
 
  <div class="mds-box flex-grow p-3 m-3 md:flex-1 border-t border-gray-600 flex flex-col justify-between">
    <div class="p-3 -m-3">

      <div class="mb-3 -m-3">
        <img width="488" height="366" class="object-cover w-full" alt="A climber on a mountain" src="https://images.unsplash.com/photo-1431887915357-68b819fae322?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=800" />
      </div>
      <h2 class="mds-header-medium font-mds-serif-bold md:-ml-3 text-3xl my-3 font-serif">A New Life</h2>
      <p class="mds-standard-text md:-ml-3 mt-5">
      Eclectic, safe, affordable, and brimming with culture and nightlife. No wonder why Big U. City is ranked a top student city year after year.
       </p>
      </div>
    <div>
      <a class="mds-button-link font-mds-sans-bold  transition-colors duration-300 md:-ml-3 hover:bg-black hover:text-white inline-block mt-3 p-3 py-1 rounded border border-black" href="#">Have fun!</a>
    </div>
  </div>

  <div class="mds-box flex-grow bg-black text-white p-3 m-3 md:flex-1 border-t border-gray-600 flex flex-col justify-between">
    <div class="p-3 -m-3">
      <div class="mb-3 -m-3">
        <img width="488" height="366" class="object-cover w-full" alt="A view of a city skyline and waterfront." src="https://images.unsplash.com/photo-1552063377-9933fd2a6fe7?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=800" />
      </div>
      <h2 class="mds-header-medium font-mds-serif-bold text-3xl my-3 font-serif">What will it cost?</h2>
      <p class="mds-standard-text mt-5">With competitive tuition and funding packages, a world-class education at Big U. is accessible for students from all walks of life.</p>
    </div>
    <div>
      <a class="mds-button-link font-mds-sans-bold transition-colors duration-300 inline-block hover:bg-white hover:text-black mt-3 p-3 py-1 rounded border" href="#">Crunch the Numbers</a>
    </div>
  </div>

  <div class="mds-box flex-grow p-3 m-3 md:flex-1 border-t border-gray-600 flex flex-col justify-between">
    <div class="p-3 -m-3">
      <div class="mb-3 -m-3">
        <img width="488" height="366" class="object-cover w-full" alt="A walker in a woodland setting chooses a path" src="https://images.unsplash.com/photo-1541063379877-00273cd073ca?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=800" />
      </div>
      <h2 class="mds-header-medium font-mds-serif-bold md:-ml-3 text-3xl my-3 font-serif">Living in Big U. City</h2>
      <p class="mds-standard-text mt-5 md:-ml-3">
          A community that challenges you to follow your passions, an education that prepares you for a fast-evolving job market.
      </p>
      </div>
    <div>
      <a class="mds-button-link font-mds-sans-bold transition-colors duration-300 md:-ml-3 hover:bg-black hover:text-white inline-block mt-3 p-3 py-1 rounded border border-black" href="#">Discover the City</a>
    </div>
  </div>

</div>
