---
title: Big Deal U.
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href=" {{ "/css/tw.css" | url}}">
  </head>
  <body style="background: #FFF;" class="font-mds-standard">


<div
  data-test="emergency-message"
  class="p-5 bg-gray-100 border-4 border-r-0 border-l-0 border-red-500 p-8 text-center"
>
  <div class="ems-container">
    <div>
      <div>
        <div>
          <h3 class="text-4xl">
            SCARY EVENT!
          </h3>

          <p>
            <u>
              <a href="https://BigU.ca/scary/">
                Information and resources
              </a> </u
            >/<u>
              <a href="https://BigU.ca/scary/fr">
                Renseignements et ressources
              </a>
            </u>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="skip-link">
  <a href="#main" class="sr-only">Skip to main content</a>
</div>

<div class="shadow-md bg-white">
      <div class="md:flex flex-row justify-between container mx-auto">
        <h1 id="site-name" class="w-64 text-center bg-red-600 font-mds-serif-bold text-4xl text-white">
          <a class="inline-block w-full p-4" href="/" title="Big U." rel="home">
            <span>Big U.</span>
          </a>
        </h1>

        {% include "mainMenu.njk" %}

        <ul class="py-4">
          <li class="border rounded border-black hover:bg-black">
            <a
              class="block px-1 text-xl hover:text-white"
              href="/fr/search/arts"
              lang="fr"
              xml:lang="fr"
            >
              Fr
            </a>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="container py-3 mx-auto mt-3">
    {% include "searchLayout.njk" %}
    </div>

    <!-- Footer -->
<!-- Footer -->
<div id="footer" class="bg-gray-800 text-white">
  <!-- /Page bottom -->
  <div
    id="page-bottom"
    class="container mx-auto bg-gray-700 bg-opacity-30 p-3 py-6"
  >
    <div class="section">
      <div class="region region-page-bottom-primary">
        <div
          id="block-bean-homepage"
          class="block block-bean element-hidden region-page_bottom_primary block-bean-facebook-tracker mode-full"
        ></div>
      </div>
      <div class="region region-page-bottom-secondary">
        <div
          id="block-menu-menu-home-page-footer-menu"
          class="block block-menu region-page_bottom_secondary"
        >
          <div class="content">
            <ul class="md:flex flex-row space-x-8">
              <li class="first expanded flex-grow">
                <a title="" class="nolink text-3xl mb-4 block">
                  For current students
                </a>
                <ul class="menu">
                  <li class="first leaf">
                    <a
                      href="https://outlook.office365.com/owa/Big U..ca"
                      title=""
                    >
                      Email (Outlook)
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://mycourses2.Big U..ca/" title="">
                      myCourses
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://www.Big U..ca/minerva/" title="">
                      Minerva
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://myBig U..Big U..ca/" title="">
                      myBig U.
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://www.Big U..ca/library/" title="">
                      Library
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://www.Big U..ca/study/" title="">
                      Programs and courses
                    </a>
                  </li>
                  <li class="last leaf">
                    <a
                      href="https://www.Big U..ca/resources-services-students"
                      title=""
                    >
                      Resources and services
                    </a>
                  </li>
                </ul>
              </li>
              <li class="expanded flex-grow">
                <a title="" class="nolink text-3xl mb-4 block">
                  For faculty &amp; staff
                </a>
                <ul class="menu">
                  <li class="first leaf">
                    <a
                      href="https://outlook.office365.com/owa/Big U..ca"
                      title=""
                    >
                      Email (Outlook)
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://www.Big U..ca/minerva/" title="">
                      Minerva
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="http://workday.Big U..ca/" title="">Workday</a>
                  </li>
                  <li class="leaf">
                    <a href="https://mycourses2.Big U..ca/" title="">
                      myCourses
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://www.Big U..ca/directory/staff" title="">
                      Staff directory
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://www.Big U..ca/hr/" title="">
                      Human resources
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://myBig U..Big U..ca/" title="">
                      myBig U.
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://www.Big U..ca/inb/" title="">
                      Banner INB
                    </a>
                  </li>
                  <li class="leaf">
                    <a
                      href="https://www.Big U..ca/resources-services-faculty-staff"
                      title=""
                    >
                      Resources and services
                    </a>
                  </li>
                  <li class="last leaf">
                    <a href="https://www.Big U..ca/tls/" title="">
                      Teaching and learning services
                    </a>
                  </li>
                </ul>
              </li>
              <li class="last expanded flex-grow">
                <a title="" class="nolink text-3xl mb-4 block">
                  For alumni &amp; friends
                </a>
                <ul class="menu">
                  <li class="first leaf">
                    <a
                      href="https://outlook.office365.com/owa/Big U..mail.onmicrosoft.com"
                      title=""
                    >
                      Alumni email
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="http://myalumni.Big U..ca/" title="">
                      The Big U. alumni network
                    </a>
                  </li>
                  <li class="leaf">
                    <a
                      href="https://www.alumni.Big U..ca/aoc/events-travel/registration/regwizEventsList.php?aoc=1"
                      title=""
                    >
                      Attend an event
                    </a>
                  </li>
                  <li class="leaf">
                    <a
                      href="http://myalumni.Big U..ca/s/1762/gid2/interior-getinvolved.aspx?sid=1762&amp;gid=2&amp;pgid=402"
                      title=""
                    >
                      Volunteer
                    </a>
                  </li>
                  <li class="leaf">
                    <a
                      href="http://myalumni.Big U..ca/s/1762/gid2/interior-benefits.aspx?sid=1762&amp;gid=2&amp;pgid=408"
                      title=""
                    >
                      Alumni benefits
                    </a>
                  </li>
                  <li class="leaf">
                    <a href="https://giving.Big U..ca/" title="">
                      Give back
                    </a>
                  </li>
                  <li class="leaf">
                    <a
                      href="http://Big U.news.Big U..ca/s/1762/news/start.aspx?sid=1762&amp;gid=2&amp;pgid=470"
                      title=""
                    >
                      Big U. News alumni magazine
                    </a>
                  </li>
                  <li class="last leaf">
                    <a href="https://www.Big U..ca/minerva/" title="">
                      Transcripts
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.section, /#page_bottom -->

  <div id="top-footer" class="bg-gray-900 text-white">
    <h2 class="sr-only">
      Department and University Information
    </h2>

    <!-- Footer -->
    <div class="container mx-auto bg-gray-800 bg-opacity-30 p-3">
      <div
        id="block-bean-revised-footer"
        class="block block-bean region-footer_content block-bean-Big U.-block mode-full"
      >
        <div class="content">
          <div class="entity entity-bean bean-Big U.-block clearfix">
            <div class="content">
              <div
                class="field field-name-field-m-block-body field-type-text-with-summary field-label-hidden"
              >
                <div class="field-items">
                  <div class="field-item even">
                    <ul class="md:flex flex-row space-x-8 justify-evenly py-6">
                      <li class="flex-grow">
                        <h4 class="text-2xl mb-3">
                          In an emergency
                        </h4>

                        <ul>
                          <li>
                            <a href="tel:514-398-3000">
                              514-398-3000 (downtown campus)
                            </a>
                          </li>
                          <li>
                            <a href="tel:514-398-7777">
                              514-398-7777 (Macdonald campus)
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="flex-grow">
                        <h4 class="text-2xl mb-3">
                          Visit
                        </h4>

                        <ul>
                          <li>
                            <a
                              href="https://www.Big U..ca/undergraduate-admissions/visits"
                            >
                              Schedule a tour
                            </a>
                          </li>
                          <li>
                            <a href="https://maps.Big U..ca/">Campus map</a>
                          </li>
                          <li>
                            <a href="https://goo.gl/maps/ZUN8S2Ec4MU5jGNV9">
                              845 Sherbrooke Street West, Montréal (Québec) H3A
                              0G4
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="flex-grow">
                        <h4 class="text-2xl mb-3">
                          Get in touch
                        </h4>

                        <ul>
                          <li>
                            <a href="https://www.Big U..ca/contact-us/">
                              Contact us
                            </a>
                          </li>
                          <li>
                            <a href="http://ask.Big U..ca/">AskBig U.</a>
                          </li>
                          <li>
                            <a href="https://www.Big U..ca/hireastudent/">
                              Hire a student
                            </a>
                          </li>
                          <li>
                            <a href="https://www.Big U..ca/newsroom/contacts">
                              Media relations
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="flex-grow">
                        <h4 class="text-2xl mb-3">
                          Explore
                        </h4>

                        <ul>
                          <li>
                            <a href="https://www.Big U..ca/hr/careers">
                              Careers
                            </a>
                          </li>
                          <li>
                            <a href="https://www.Big U..ca/newsroom/">
                              News
                            </a>
                          </li>
                          <li>
                            <a href="https://www.Big U..ca/channels/events">
                              Events
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Renders follow site block if available -->
    <div id="footer-follow">
      <div
        class="container mx-auto bg-gray-800 bg-opacity-30 p3 md:flex flex-row justify-center space-x-4 p-3 py-6"
      >
        <div>
          <a
            href="https://www.facebook.com/Big U.University"
            class="follow-link follow-link-facebook follow-link-site"
            title="Follow Big U. University on Facebook"
          >
            Facebook
          </a>
        </div>
        <div>
          <a
            href="https://twitter.com/Big U.u"
            class="follow-link follow-link-twitter follow-link-site"
            title="Follow Big U. University on Twitter"
          >
            Twitter
          </a>
        </div>
        <div>
          <a
            href="https://www.linkedin.com/school/Big U.-university/"
            class="follow-link follow-link-linkedin follow-link-site"
            title="Follow Big U. University on LinkedIn"
          >
            LinkedIn
          </a>
        </div>
        <div>
          <a
            href="https://www.instagram.com/Big U.u/"
            class="follow-link follow-link-instagram follow-link-site"
            title="Follow Big U. University on Instagram"
          >
            Instagram
          </a>
        </div>
        <div>
          <a
            href="https://www.youtube.com/Big U.university"
            class="follow-link follow-link-youtube follow-link-site"
            title="Follow Big U. University on YouTube"
          >
            YouTube
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="sub-footer" class="bg-gray-900 border-t-2 border-gray-600">
    <div
      id="sub-footer-inner"
      class="container bg-gray-800 bg-opacity-30 p-3 mx-auto grid grid-cols-2 text-white py-6"
    >
      <div id="copyright" class="md:flex flex-row space-x-4">
        <h2 id="Big U.-logo" class="text-xl">
          Big U.
        </h2>
        <div>
          Copyright &copy; 2020 Big U. University.
        </div>
      </div>

      <!-- Footer bottom -->
      <div id="footer-links" class="justify-self-end">
        <div class="region region-footer-bottom">
          <div
            id="block-bean-bottom-footer-links"
            class="block block-bean region-footer_bottom block-bean-Big U.-block mode-full"
          >
            <div class="content">
              <div class="entity entity-bean bean-Big U.-block clearfix">
                <div class="content">
                  <div
                    class="field field-name-field-m-block-body field-type-text-with-summary field-label-hidden"
                  >
                    <div class="field-items">
                      <div class="field-item even">
                        <ul class="md:flex flex-row justify-center space-x-4">
                          <li>
                            <a href="https://www.Big U..ca/accessibility">
                              Accessibility
                            </a>
                          </li>
                          <li>
                            <a href="https://www.Big U..ca/privacy-notice">
                              Privacy notice
                            </a>
                          </li>
                          <li>
                            <a href="https://www.Big U..ca/contact-us/">
                              Contact us
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End sub-footer-inner -->
  </div>
  <!-- End sub-footer -->
</div>
<!-- End footer -->

  </body>
  <script src="{{ "/js/alpine.js" | url }}"></script>
  <script type="module" src="{{ "/js/autoComplete.js" | url }}"></script>
</html>