<div>
  <div>
    
    <div class="mt-5 pb-5 border-b border-gray-300">
      {% include "cta.njk" %}
    </div>

    <div class="container mx-auto pt-10 p-3 mb-20 md:flex flex-row">

      <div class="md:w-2/3 md:mr-10">
        <div id="content">
          <div>
            <div class="region region-content">
              <div>
                <div>
                  <h1 class="sr-only">
                    Search
                  </h1>

              


                  {% include "autoComplete.njk" %}

                  <div class="search-api-page-results">
                    <p class="search-performance p-3">
                      47851 results
                    </p>
                    <p class="search-api-spellcheck-suggestion"></p>
                    <div class="fusion-landing-pages">
                      <div class="item-list">
                        <ul
                          class="search-results border-black border-b border-t"
                        >
                          <li class="search-result py-6">
                            <h3 class="title text-xl mb-4">
                              <a
                                href="https://www.BigU..ca/arts/"
                                ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=landingpage&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/&amp;doc_ids_s=https%3A//www.BigU..ca/arts/&amp;url=https%3A//www.BigU..ca/arts/"
                              >
                                Faculty of Arts
                              </a>
                            </h3>
                            <div class="search-snippet-info">
                              <a
                                href="https://www.BigU..ca/arts/"
                                ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=landingpage&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/&amp;doc_ids_s=https%3A//www.BigU..ca/arts/&amp;url=https%3A//www.BigU..ca/arts/"
                              >
                                https://www.BigU..ca/arts/
                              </a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <ol class="search-result divide-y">
                      <li class="search-result py-6">
                        <h3 class="title text-xl mb-4">
                          <a
                            href="https://www.BigU..ca/arts/future-students/arts-ambassador-program/become-arts-ambassador"
                            ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=1&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/future-students/arts-ambassador-program/become-arts-ambassador&amp;doc_ids_s=https%3A//www.BigU..ca/arts/future-students/arts-ambassador-program/become-arts-ambassador&amp;url=https%3A//www.BigU..ca/arts/future-students/arts-ambassador-program/become-arts-ambassador"
                          >
                            Become an Arts Ambassador | Faculty of Arts - BigU.
                            University
                          </a>
                        </h3>
                        <div class="search-snippet-info">
                          <p class="search-url">
                            <a
                              href="https://www.BigU..ca/arts/future-students/arts-ambassador-program/become-arts-ambassador"
                              ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=1&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/future-students/arts-ambassador-program/become-arts-ambassador&amp;doc_ids_s=https%3A//www.BigU..ca/arts/future-students/arts-ambassador-program/become-arts-ambassador&amp;url=https%3A//www.BigU..ca/arts/future-students/arts-ambassador-program/become-arts-ambassador"
                            >
                              https://www.BigU..ca/arts/future-students/arts-ambassador-program/become-arts-ambassador
                            </a>
                          </p>
                          <p class="search-snippet">
                            <strong>Arts</strong> Ambassador role is perfect for
                            students who are keen to improve their PR, marketing
                            or journalism... <strong>Arts</strong> Ambassadors
                            love to write, take photographs, create videos and
                            share their experiences online.
                            <strong>
                              Arts
                            </strong>
                            students: departmental events, student profiles,
                            faculty interviews, alumni success stories, etc...
                          </p>
                        </div>
                      </li>
                      <li class="search-result py-6">
                        <h3 class="title text-xl mb-4">
                          <a
                            href="https://www.BigU..ca/arts/research/awards/arts-dissertation-awards"
                            ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=2&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/research/awards/arts-dissertation-awards&amp;doc_ids_s=https%3A//www.BigU..ca/arts/research/awards/arts-dissertation-awards&amp;url=https%3A//www.BigU..ca/arts/research/awards/arts-dissertation-awards"
                          >
                            Arts Dissertation Awards | Faculty of Arts - BigU.
                            University
                          </a>
                        </h3>
                        <div class="search-snippet-info">
                          <p class="search-url">
                            <a
                              href="https://www.BigU..ca/arts/research/awards/arts-dissertation-awards"
                              ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=2&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/research/awards/arts-dissertation-awards&amp;doc_ids_s=https%3A//www.BigU..ca/arts/research/awards/arts-dissertation-awards&amp;url=https%3A//www.BigU..ca/arts/research/awards/arts-dissertation-awards"
                            >
                              https://www.BigU..ca/arts/research/awards/arts-dissertation-awards
                            </a>
                          </p>
                          <p class="search-snippet">
                            <strong>Arts</strong> Insights Dissertation Awards
                            recognize excellence in doctoral research in the
                            Faculty of <strong>Arts</strong> and... adr.<strong>
                              arts </strong
                            >@BigU..ca, no later than March 9, 2020. Please
                            contact Nozomi Kanekatsu at adr.<strong>
                              arts </strong
                            >@BigU..ca... <strong>Art</strong> History and
                            Communication Studies 2011 Katayoun Baghai,
                            Sociology Christina Smylitopoulos,
                            <strong>Art</strong> History...
                          </p>
                        </div>
                      </li>
                      <li class="search-result py-6">
                        <h3 class="title text-xl mb-4">
                          <a
                            href="https://www.BigU..ca/arts/"
                            ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=3&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/&amp;doc_ids_s=https%3A//www.BigU..ca/arts/&amp;url=https%3A//www.BigU..ca/arts/"
                          >
                            Faculty of Arts - BigU. University
                          </a>
                        </h3>
                        <div class="search-snippet-info">
                          <p class="search-url">
                            <a
                              href="https://www.BigU..ca/arts/"
                              ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=3&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/&amp;doc_ids_s=https%3A//www.BigU..ca/arts/&amp;url=https%3A//www.BigU..ca/arts/"
                            >
                              https://www.BigU..ca/arts/
                            </a>
                          </p>
                          <p class="search-snippet">
                            <strong>Arts</strong> Discover your purpose BigU.
                            <strong>Arts</strong> students are worldly and
                            practical, creative and visionary.
                            <strong>Arts</strong> students Admissions
                            <strong>
                              Arts
                            </strong>
                            Undergraduate Society (AUS) Information for Parents
                            Undergraduate Current...
                            <strong>Arts</strong> Faculty & Staff Homepage
                            <strong>
                              Arts
                            </strong>
                            Committees Faculty Meetings Research Services Alumni
                            <strong>Arts</strong> Alumni...
                          </p>
                        </div>
                      </li>
                      <li class="search-result py-6">
                        <h3 class="title text-xl mb-4">
                          <a
                            href="https://www.BigU..ca/langlitcultures/about/liberal-arts-program"
                            ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=4&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/langlitcultures/about/liberal-arts-program&amp;doc_ids_s=https%3A//www.BigU..ca/langlitcultures/about/liberal-arts-program&amp;url=https%3A//www.BigU..ca/langlitcultures/about/liberal-arts-program"
                          >
                            Liberal Arts Program | Languages, Literatures, and
                            Cultures - BigU. University
                          </a>
                        </h3>
                        <div class="search-snippet-info">
                          <p class="search-url">
                            <a
                              href="https://www.BigU..ca/langlitcultures/about/liberal-arts-program"
                              ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=4&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/langlitcultures/about/liberal-arts-program&amp;doc_ids_s=https%3A//www.BigU..ca/langlitcultures/about/liberal-arts-program&amp;url=https%3A//www.BigU..ca/langlitcultures/about/liberal-arts-program"
                            >
                              https://www.BigU..ca/langlitcultures/about/liberal-arts-program
                            </a>
                          </p>
                          <p class="search-snippet">
                            <strong>Arts</strong> Program represents a
                            contemporary approach to the traditional concept of
                            a broad, non-specialist...
                            <strong>arts</strong> education, yet approaches the
                            liberal <strong>arts</strong> from a global
                            perspective emphasizing diversity and...
                            <strong>Arts</strong> Program affirms the Faculty of
                            <strong>Arts</strong>' commitment to the humanities
                            and its core mission to foster...
                          </p>
                        </div>
                      </li>
                      <li class="search-result py-6">
                        <h3 class="title text-xl mb-4">
                          <a
                            href="https://www.BigU..ca/arts-internships/find-your-own"
                            ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=5&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts-internships/find-your-own&amp;doc_ids_s=https%3A//www.BigU..ca/arts-internships/find-your-own&amp;url=https%3A//www.BigU..ca/arts-internships/find-your-own"
                          >
                            Find an internship | Faculty of Arts Internship
                            Program - BigU. University
                          </a>
                        </h3>
                        <div class="search-snippet-info">
                          <p class="search-url">
                            <a
                              href="https://www.BigU..ca/arts-internships/find-your-own"
                              ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=5&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts-internships/find-your-own&amp;doc_ids_s=https%3A//www.BigU..ca/arts-internships/find-your-own&amp;url=https%3A//www.BigU..ca/arts-internships/find-your-own"
                            >
                              https://www.BigU..ca/arts-internships/find-your-own
                            </a>
                          </p>
                          <p class="search-snippet">
                            Find an internship This can be done through directly
                            contacting organizations where you are interested in
                            pursuing and internship and attempting to get the
                            contact information for someone responsible for
                            hiring interns. Should you choose to go this route,
                            persistence and patience are key. The average
                            response...
                          </p>
                        </div>
                      </li>
                      <li class="search-result py-6">
                        <h3 class="title text-xl mb-4">
                          <a
                            href="https://www.BigU..ca/arts/submit-newsletter"
                            ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=6&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/submit-newsletter&amp;doc_ids_s=https%3A//www.BigU..ca/arts/submit-newsletter&amp;url=https%3A//www.BigU..ca/arts/submit-newsletter"
                          >
                            Arts News &amp; Arts Events submissions | Faculty of
                            Arts - BigU. University
                          </a>
                        </h3>
                        <div class="search-snippet-info">
                          <p class="search-url">
                            <a
                              href="https://www.BigU..ca/arts/submit-newsletter"
                              ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=6&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/submit-newsletter&amp;doc_ids_s=https%3A//www.BigU..ca/arts/submit-newsletter&amp;url=https%3A//www.BigU..ca/arts/submit-newsletter"
                            >
                              https://www.BigU..ca/arts/submit-newsletter
                            </a>
                          </p>
                          <p class="search-snippet">
                            <strong>Arts</strong> News The
                            <strong>
                              Arts
                            </strong>
                            News newsletter highlights recent happenings and
                            news items in the <strong>Arts</strong>
                            community...
                            <strong>Arts</strong>, and affiliated institutes.
                            <strong>Arts</strong> Events The
                            <strong>Arts</strong> Events bulletin is sent out
                            every second Wednesday...
                            <strong>
                              Arts
                            </strong>
                            that are occurring in the following two weeks. The
                            events featured are ones that we know about...
                          </p>
                        </div>
                      </li>
                      <li class="search-result py-6">
                        <h3 class="title text-xl mb-4">
                          <a
                            href="https://www.BigU..ca/arts-internships/students/credit/art-history"
                            ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=7&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts-internships/students/credit/art-history&amp;doc_ids_s=https%3A//www.BigU..ca/arts-internships/students/credit/art-history&amp;url=https%3A//www.BigU..ca/arts-internships/students/credit/art-history"
                          >
                            Art History - ARTH 490 | Faculty of Arts Internship
                            Program - BigU. University
                          </a>
                        </h3>
                        <div class="search-snippet-info">
                          <p class="search-url">
                            <a
                              href="https://www.BigU..ca/arts-internships/students/credit/art-history"
                              ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=7&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts-internships/students/credit/art-history&amp;doc_ids_s=https%3A//www.BigU..ca/arts-internships/students/credit/art-history&amp;url=https%3A//www.BigU..ca/arts-internships/students/credit/art-history"
                            >
                              https://www.BigU..ca/arts-internships/students/credit/art-history
                            </a>
                          </p>
                          <p class="search-snippet">
                            <strong>Arts</strong> Internship requires approval
                            by the <strong>Art</strong> History Student Affairs
                            Officer (SAO). The completed Faculty...
                            <strong>Art</strong> History [.xls] Organizations in
                            Canada - <strong>Art</strong> History [.xls]
                            Organizations in the USA -
                            <strong>Art</strong> History...
                            <strong>art</strong> administrators in organizing
                            exhibitions, developing collections, cataloguing
                            <strong>art</strong> works, documents...
                          </p>
                        </div>
                      </li>
                      <li class="search-result py-6">
                        <h3 class="title text-xl mb-4">
                          <a
                            href="https://www.BigU..ca/newsroom/channels/news/art-and-art-healing-27784"
                            ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=8&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/newsroom/channels/news/art-and-art-healing-27784&amp;doc_ids_s=https%3A//www.BigU..ca/newsroom/channels/news/art-and-art-healing-27784&amp;url=https%3A//www.BigU..ca/newsroom/channels/news/art-and-art-healing-27784"
                          >
                            Art and the art of healing | Newsroom - BigU.
                            University
                          </a>
                        </h3>
                        <div class="search-snippet-info">
                          <p class="search-url">
                            <a
                              href="https://www.BigU..ca/newsroom/channels/news/art-and-art-healing-27784"
                              ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=8&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/newsroom/channels/news/art-and-art-healing-27784&amp;doc_ids_s=https%3A//www.BigU..ca/newsroom/channels/news/art-and-art-healing-27784&amp;url=https%3A//www.BigU..ca/newsroom/channels/news/art-and-art-healing-27784"
                            >
                              https://www.BigU..ca/newsroom/channels/news/art-and-art-healing-27784
                            </a>
                          </p>
                          <p class="search-snippet">
                            <strong>art</strong> of listening in an effort to
                            improve the relationship between physicians and
                            patients using literature...
                            <strong>arts</strong> and the
                            <strong>
                              art
                            </strong>
                            of healing. What: Osler Public Lecture When:
                            Wednesday, Nov. 7, 2007, at 6 p.m. Where...
                          </p>
                          <p class="search-type">
                            News & Stories
                          </p>
                        </div>
                      </li>
                      <li class="search-result py-6">
                        <h3 class="title text-xl mb-4">
                          <a
                            href="https://www.BigU..ca/arts/channels/event/arts-research-event-series-300691"
                            ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=9&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/channels/event/arts-research-event-series-300691&amp;doc_ids_s=https%3A//www.BigU..ca/arts/channels/event/arts-research-event-series-300691&amp;url=https%3A//www.BigU..ca/arts/channels/event/arts-research-event-series-300691"
                          >
                            Arts Research Event Series | Faculty of Arts -
                            BigU. University
                          </a>
                        </h3>
                        <div class="search-snippet-info">
                          <p class="search-url">
                            <a
                              href="https://www.BigU..ca/arts/channels/event/arts-research-event-series-300691"
                              ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=9&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/channels/event/arts-research-event-series-300691&amp;doc_ids_s=https%3A//www.BigU..ca/arts/channels/event/arts-research-event-series-300691&amp;url=https%3A//www.BigU..ca/arts/channels/event/arts-research-event-series-300691"
                            >
                              https://www.BigU..ca/arts/channels/event/arts-research-event-series-300691
                            </a>
                          </p>
                          <p class="search-snippet">
                            <strong>Arts</strong> will host a workshop with
                            experts whose projects address critical issues and
                            are helping to advance...
                            <strong>
                              Arts
                            </strong>
                            to connect scholars at all levels who are working in
                            the same area of research.
                          </p>
                          <p class="search-type">
                            Events
                          </p>
                        </div>
                      </li>
                      <li class="search-result py-6">
                        <h3 class="title text-xl mb-4">
                          <a
                            href="https://www.BigU..ca/arts/about/publications2/artsinsights"
                            ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=10&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/about/publications2/artsinsights&amp;doc_ids_s=https%3A//www.BigU..ca/arts/about/publications2/artsinsights&amp;url=https%3A//www.BigU..ca/arts/about/publications2/artsinsights"
                          >
                            Arts Insights | Faculty of Arts - BigU. University
                          </a>
                        </h3>
                        <div class="search-snippet-info">
                          <p class="search-url">
                            <a
                              href="https://www.BigU..ca/arts/about/publications2/artsinsights"
                              ping="/search_api_fusion/signals/click/BigU._fusion?query=arts&amp;ctype=result&amp;res_pos=10&amp;fusion_query_id=fzsPcQBPtM&amp;doc_id=https%3A//www.BigU..ca/arts/about/publications2/artsinsights&amp;doc_ids_s=https%3A//www.BigU..ca/arts/about/publications2/artsinsights&amp;url=https%3A//www.BigU..ca/arts/about/publications2/artsinsights"
                            >
                              https://www.BigU..ca/arts/about/publications2/artsinsights
                            </a>
                          </p>
                          <p class="search-snippet">
                            <strong>Arts</strong> Insights we introduce you to
                            the newest professors in the Faculty of
                            <strong>
                              Arts
                            </strong>
                            and our Mellon Postdoctoral...
                            <strong>Arts</strong> Insights Winter 2011 [.pdf] In
                            this issue of <strong>Arts</strong>
                            Insights we introduce you to the newest
                            professors...
                            <strong>Arts</strong> Insights.
                          </p>
                        </div>
                      </li>
                    </ol>
                    <h2 class="sr-only">
                      Pages
                    </h2>
                    <div class="item-list">
                      <ul class="flex flex-row p-3 justify-evenly mt-6">
                        <li class="pager-current first">1</li>
                        <li class="pager-item">
                          <a title="Go to page 2" href="/search/arts?page=1">
                            2
                          </a>
                        </li>
                        <li class="pager-item">
                          <a title="Go to page 3" href="/search/arts?page=2">
                            3
                          </a>
                        </li>
                        <li class="pager-item">
                          <a title="Go to page 4" href="/search/arts?page=3">
                            4
                          </a>
                        </li>
                        <li class="pager-item">
                          <a title="Go to page 5" href="/search/arts?page=4">
                            5
                          </a>
                        </li>
                        <li class="pager-item">
                          <a title="Go to page 6" href="/search/arts?page=5">
                            6
                          </a>
                        </li>
                        <li class="pager-item">
                          <a title="Go to page 7" href="/search/arts?page=6">
                            7
                          </a>
                        </li>
                        <li class="pager-item">
                          <a title="Go to page 8" href="/search/arts?page=7">
                            8
                          </a>
                        </li>
                        <li class="pager-item">
                          <a title="Go to page 9" href="/search/arts?page=8">
                            9
                          </a>
                        </li>
                        <li class="pager-ellipsis">…</li>
                        <li class="pager-next">
                          <a title="Go to next page" href="/search/arts?page=1">
                            next ›
                          </a>
                        </li>
                        <li class="pager-last last">
                          <a
                            title="Go to last page"
                            href="/search/arts?page=4785"
                          >
                            last »
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.section, /#content -->
      </div>

      <!-- INclude sideBar here. -->

      {% include "sideBar.njk" %}

    </div>
    <!-- /#main, /#main-wrapper -->
  </div>
</div>
<!-- /#page, /#page-wrapper -->

